{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - reference: the rendered reference sub-field - may be label or other
 *     depending on chosen formatter.
 * - date: the first date field
 * - end_date: the second date field if enabled.
 *
 * @see template_preprocess_reference_date()
 *
 * @ingroup themeable
 */
#}
{{ reference }}
{% if date %}
  <br/>Start Date {{ date }}
{% endif %}
{% if end_date %}
  <br/>End Date {{ end_date }}
{% endif %}
